[programs.testnet]
favorite = "5h5PHEquLveHVdWuxEznwmCwtcZ56fLev24JxDkn1eFT"

[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
favorite = "5h5PHEquLveHVdWuxEznwmCwtcZ56fLev24JxDkn1eFT"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
